# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db
desktop.ini
apm/
com/
apm
com

# Editors
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Logs & temp files
# ===============================
*.log
logs/
tmp/
temp/

# ===============================
# Environment / secrets
# ===============================
.env
.env.*
!.env.example

# ===============================
# Build / dist output
# ===============================
dist/
build/
out/

# ===============================
# Dependency folders
# ===============================
node_modules/
vendor/

# ===============================
# Cache
# ===============================
.cache/
.npm/
.yarn/
